In [ ]:
# Part A — Basic Function Concepts (Single Return Values)
# 1.	Write a function wish(name) that returns "Hello, Good Morning <name>!".
# 2.	Write a function cube(n) that returns the cube of a number (n³).
# 3.	Write a function check_even(n) that returns True if the number is even, else False.
# 4.	Write a function greatest_of_two(a, b) that returns the larger of two numbers.
# 5.	Write a function count_letters(s) that returns the number of characters in a string.
# 6.	Write a function power(value, exp=2) that returns the number raised to the power exp. (Default exponent = 2)

In [ ]:
#1. Write a function wish(name) that returns "Hello, Good Morning <name>!".
def wish(name):
    return "Hello, Good Morning " + name + "!"
print(wish("bala"))

In [ ]:
# 2.	Write a function cube(n) that returns the cube of a number (n³).
def cube(n):
    return n**3
print(cube(3))
print(cube(4))

In [ ]:
# 3.	Write a function check_even(n) that returns True if the number is even, else False.
def check_even(n):
    return n % 2 == 0
check_even(4)

In [ ]:
check_even(3)

In [ ]:
# 4.	Write a function greatest_of_two(a, b) that returns the larger of two numbers.
def greatest_of_two(a, b):
    return a if a > b else b
greatest_of_two(100,50)

In [ ]:
# 5.Write a function count_letters(s) that returns the number of characters in a string.
def count_letters(s):
    return len(s)
count_letters("helllo")

In [ ]:
# 6.	Write a function power(value, exp=2) that returns the number raised to the power exp. (Default exponent = 2)
def power(value, exp=2):
    return value ** exp
print(power(2))
print(power(4))

In [ ]:
# Part B — Returning Multiple Values
# 7.	Write a function swap(a, b) that returns the two values swapped as a tuple.
# 8.	Write a function add_sub(a, b) that returns both sum and difference of two numbers.
# 9.	Write a function circle_stats(radius) that returns the area and circumference as a tuple.
# 10.	Write a function min_max_sum(nums) that returns the minimum, maximum, and sum of a list

In [ ]:
# 7.	Write a function swap(a, b) that returns the two values swapped as a tuple.
def swap(a,b):
    return b,a
swap(10,20)

In [ ]:
# 8.	Write a function add_sub(a, b) that returns both sum and difference of two numbers.
def add_sub(a, b):
    return a + b, a - b
sum_result,diff_result = add_sub(10, 5)
print("Sum:", sum_result)       
print("Difference:",diff_result)

In [ ]:
# 9.	Write a function circle_stats(radius) that returns the area and circumference as a tuple.
import math
def circle_stats(radius):
    area = math.pi * radius ** 2
    circumference = 2 * math.pi * radius
    return area, circumference
circle_stats(5)
print("Area:", area)           
print("Circumference:", circ)

In [ ]:
# 10.	Write a function min_max_sum(nums) that returns the minimum, maximum, and sum of a list
def min_max_sum(nums):
    return min(nums), max(nums), sum(nums)
nums=[4, 7, 1, 9, 3]
minimum, maximum, total = min_max_sum(numbers)
print("Minimum:", minimum)  
print("Maximum:", maximum)  
print("Sum:", total)

In [ ]:
#  Part C — Working with Strings & Formatting
# 11.	Write a function concat(*parts) that joins multiple strings together with spaces.
# 12.	Write a function format_name(first, last="") that returns "Last, First" if last name is provided, else "First".
# 13.	Write a function greet_user(first, last) that returns a message like "Welcome, First Last!"

In [ ]:
# 11.	Write a function concat(*parts) that joins multiple strings together with spaces.
def concat(*parts):
    return ' '.join(parts)
result = concat("Hello", "Good", "Morning")
print(result) 
result2 = concat("Python", "is", "fun")
print(result2)

In [ ]:
# 12.	Write a function format_name(first, last="") that returns "Last, First" if last name is provided, else "First"
def format_name(first, last=""):
    if last:
        return f"{last}, {first}"
    else:
        return first
print(format_name("John", "Doe")) 
print(format_name("Alice"))

In [ ]:
 # 13.	Write a function greet_user(first, last) that returns a message like "Welcome, First Last!"
def greet_user(first, last):
    return f"Welcome, {first} {last}!"
print(greet_user("John", "Doe"))
print(greet_user("Alice", "Smith"))

In [ ]:
# Part D — Lambda Functions
# 14.	Write a lambda function to add two numbers.
# 15.	Write a lambda function mult = lambda *args: that returns the product of all arguments.
# 16.	Write a one-line lambda expression to flatten a list of pairs like [(a,b), (c,d)] into [a, b, c, d].

In [ ]:
# 14.	Write a lambda function to add two numbers.
add = lambda x, y: x + y
print(add(5, 3))
print(add(10,5))

In [ ]:
# 15.	Write a lambda function mult = lambda *args: that returns the product of all arguments.
def mult(*args):
    result = 1
    for num in args:
        result *= num
    return result
print(mult(10,6,2))
print(mult(5,3))
print(mult(3))
print(mult())

In [ ]:
 # 16.	Write a one-line lambda expression to flatten a list of pairs like [(a,b), (c,d)] into [a, b, c, d].
flat=lambda data: [item for pair in data for item in pair]
print(flat([(1,2),(3,4)]))

In [ ]:
# Part E — Recursive, Higher-Order & Inner Functions
# 17.	Write a recursive function factorial(n) that returns the factorial of a number.
# 18.	Write a function apply_twice(func, x) that applies a function twice → func(func(x)).
# 19.	Write a function inner_demo() that defines and calls an inner function inside it.
# 20.	Write a function call_function(func, value) that takes another function as a parameter and applies it.
# 21.	Write a function square_list(nums) that defines a helper function square(x) inside it and returns a list of squares.

In [ ]:
# 17.	Write a recursive function factorial(n) that returns the factorial of a number.
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n*factorial(n-1)
print(factorial(1))
print(factorial(3))

In [ ]:
# 18.	Write a function apply_twice(func, x) that applies a function twice → func(func(x)).
def apply_twice(func, x):
    first = func(func(x))  
    return first
def add(n):
    return n+2
print(apply_twice(add,5))

In [ ]:
# 19.	Write a function inner_demo() that defines and calls an inner function inside it.
def inner_demo():
    def inner():
        print( "Hello !")
    inner()
inner_demo()

In [ ]:
def inner_demo():
    def inner(x):
        return x*2  
    result=inner(5) 
    return f"The result is {result}"
print(inner_demo())

In [ ]:
# 20.	Write a function call_function(func, value) that takes another function as a parameter and applies it.
def call_function(func, value):
    return func(value)
def square(n):
    return n**2
result = call_function(square, 5)
print(result)

In [ ]:
# 20.	Write a function call_function(func, value) that takes another function as a parameter and applies it.
def call_function(func, value):
    return func(value)
def square(n):
    return n**2
result = call_function(square, 5)
print(result)

In [7]:
# 21.	Write a function square_list(nums) that defines a helper function square(x) inside it and returns a list of squares.
def square_list(nums):
  def square(x):
    return x * x
  return [square(num) for num in nums]

result = square_list([1, 2, 3, 4, 5])
print(result)

[1, 4, 9, 16, 25]

In [ ]:
# Part F — Intermediate Function Concepts
# 22.	Write a function make_multiplier(m) that returns a new function which multiplies input values by m.
# 23.	Write a function filter_primes(nums) that filters prime numbers using a helper is_prime() function.
# 24.	Write a function convert_to_fahrenheit(celsius_list) using map and a lambda.
# Formula: F = C * 9/5 + 32
# 25.	Write a function apply_if(func, predicate, iterable) that applies a function only to items that pass a condition.
# 26.	Write a function curry(func) that converts a two-argument function into a curried version → can be called as f(a)(b).
# 27.	Write a function variadic_sum(*args, **kwargs) that sums all positional arguments and multiplies by a scale factor if provided.
# 28.	Write a function sort_by_length(strings) that sorts a list of strings by their length using a lambda as key.

In [ ]:
# 22.	Write a function make_multiplier(m) that returns a new function which multiplies input values by m.
def make_multiplers(m):
    def multipliers(x):
        return x*m
    return multipliers
a=make_multiplers(2)
b=make_multiplers(3)
print(a(5))
print(b(3))

In [ ]:
# 23.	Write a function filter_primes(nums) that filters prime numbers using a helper is_prime() function.
def filter_primes(nums):
    def is_prime(n):
        if n<2:
            return False
        for i in range(2,n+1):  #for i in range(2,int(n*0.5)+1):
            if n%2==0:
                return False
        return True
    return [num for num in nums if is_prime(num)]
nums=[1,2,4,3,9,11]
print(filter_primes(nums))

In [ ]:
# 24.	Write a function convert_to_fahrenheit(celsius_list) using map and a lambda.
# Formula: F = C * 9/5 + 32
def convert_to_fahrenheit(celsius_list):
    return list(map(lambda c:c*9/5+32,celsius_list))
temperature_celsius=[100,20,-130]
temperature_fahrenheit=convert_to_fahrenheit(temperature_celsius)
print(temperature_fahrenheit)

In [9]:
# 25.Write a function apply_if(func, predicate, iterable) that applies a function only to items that pass a condition.
def apply_if(func, predicate, iterable):
    result=[]
    for item in iterable:
        if predicate(item):
            result.append(func(item))
        else:
            result.append(item)
    return result
numbers=[1,2,3,4,5,6]
def double(x):
    return x*2
def is_even(x):
    return x%2==0
print(apply_if(double,is_even,numbers))

[1, 4, 3, 8, 5, 12]

In [21]:
# 26.	Write a function curry(func) that converts a two-argument function into a curried version → can be called as f(a)(b).
def curry(func):
    def curried_function(a):
        def inner_function(b):
            return func(a,b)
        return inner_function
    return curried_function
def add(x,y):
    return x+y
curried_add=curry(add)
print(curried_add(3)(5))
print(curried_add(4)(5))

8
9

In [23]:
# 27.	Write a function variadic_sum(*args, **kwargs) that sums all positional arguments and multiplies by a scale factor if provided.
def variadic_sum(*args,**kwargs):
    total=sum(args)
    scale_factor=kwargs.get('scale_factor',1)
    return total*scale_factor
print(variadic_sum(1,2,3,scale_factor=2))

12

In [27]:
# 28.	Write a function sort_by_length(strings) that sorts a list of strings by their length using a lambda as key.
def sort_by_length(strings):
  return sorted(strings,key=lambda x:len(x))
print(sort_by_length(["apple","banana","cherry","date"]))

['date', 'apple', 'banana', 'cherry']

In [29]:
# Topic 2 — List Comprehensions
# Part A — Basic Comprehension Practice
# 29.	Create [1,2,3,4] → list of their squares.
# 30.	Create ['a','b','c'] → list of their uppercase versions.
# 31.	Make a list of even numbers from 1 to 20.
# 32.	Given words = ['apple', 'bee', 'cat'], create [(word, len(word)) for word in words].
# 33.	Flatten [[1,2], [3,4], [5]] → [1,2,3,4,5].
# 34.	From nums = [0,1,2,3], create a list of 'even' or 'odd' strings.
# 35.	Using a comprehension, make a list of booleans showing if numbers in a list are prime (use helper function).
# 36.	From range(1,50), select numbers divisible by both 2 and 3.
# 37.	Create coordinate pairs (i, j) where i and j go from 0 to 2.
# 38.	From ['a b','c d e'], produce a flat list of all words.

In [33]:
# 29.	Create [1,2,3,4] → list of their squares.
numbers=[1,2,3,4]
squares=[x**2 for x in numbers]
print(squares)

[1, 4, 9, 16]

In [35]:
# 30.	Create ['a','b','c'] → list of their uppercase versions.
list=['a','b','c']
upper_case=[x.upper() for x in list]
print(upper_case)

['A', 'B', 'C']

In [50]:
# 31.	Make a list of even numbers from 1 to 20.
even=[x for x in range(1,21) if x%2==0]
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [52]:
# 32.	Given words = ['apple', 'bee', 'cat'], create [(word, len(word)) for word in words].
words=['apple', 'bee', 'cat']
print([(word,len(word)) for word in words])

[('apple', 5), ('bee', 3), ('cat', 3)]

In [54]:
# 33.	Flatten [[1,2], [3,4], [5]] → [1,2,3,4,5].
list1=[[1,2],[3,4],[5]]
flattened=[item for sublist in list1 for item in sublist]
print(flattened)

[1, 2, 3, 4, 5]

In [56]:
# 34.	From nums = [0,1,2,3], create a list of 'even' or 'odd' strings.
nums=[0,1,2,3]
even_odd=['even' if x%2==0 else 'odd' for x in nums]
print(even_odd)

['even', 'odd', 'even', 'odd']

In [58]:
# 35.	Using a comprehension, make a list of booleans showing if numbers in a list are prime (use helper function).
def is_prime(num):
  for i in range(2,num):
    if num%i==0:
      return False
  return True
numbers=[1,2,3,4,5,6,7,8,9,10]
print([is_prime(num) for num in numbers])

[True, True, True, False, True, False, True, False, False, False]

In [63]:
# 36.	From range(1,50), select numbers divisible by both 2 and 3.
list1=[x for x in range(1,50) if x%2==0 and x%3==0]
print(list1)

[6, 12, 18, 24, 30, 36, 42, 48]

In [65]:
# 37.	Create coordinate pairs (i, j) where i and j go from 0 to 2.
coordinates = [(i, j) for i in range(3) for j in range(3)]
print(coordinates)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [71]:
# 38.	From ['a b','c d e'], produce a flat list of all words.
data = ['a b', 'c d e']
words = [word for phrase in data for word in phrase.split()]
print(words)

['a', 'b', 'c', 'd', 'e']

In [73]:
# Part B — Using Lists of Dictionaries
# 39.	Given students = [{'name':'A','score':80}, {'name':'B','score':60}], Create a list of names of students with score ≥ 75.
# 40.	Build a list of dictionaries like {'n': n, 'square': n*n} for numbers 1 to 10.
# 41.	Merge two lists element-wise into tuples, but include only pairs where both elements are truthy.
# 42.	Create a comprehension to transpose a matrix (swap rows ↔ columns).

In [81]:
# 39.	Given students = [{'name':'A','score':80}, {'name':'B','score':60}], Create a list of names of students with score ≥ 75.
students = [{'name': 'A', 'score': 80}, {'name': 'B', 'score': 60}]
top_students = [s['name'] for s in students if s['score'] >= 75]
print(top_students)

['A']

In [83]:
# 40.	Build a list of dictionaries like {'n': n, 'square': n*n} for numbers 1 to 10.
dict_square={n:n*n for n in range(1,10)}
print(dict_square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [87]:
# 41.	Merge two lists element-wise into tuples, but include only pairs where both elements are truthy.
list1 = [1, 0, 3, '', 5]
list2 = [2, 4, None, 8, 10]
merge = [(a, b) for a, b in zip(list1, list2) if a and b]
print(merge)

[(1, 2), (5, 10)]

In [89]:
# 42.	Create a comprehension to transpose a matrix (swap rows ↔ columns).
matrix = [
    [1, 2, 3],
    [4, 5, 6]
]
transposed = [[row[i] for row in matrix] for i in range(len(matrix[0]))]
print(transposed)

[[1, 4], [2, 5], [3, 6]]

In [103]:
# Part C — Advanced Comprehensions
# 43.	Flatten a 3-level nested list [[[1,2],[3]],[[4]]] into a single flat list.
# 44.	Write a comprehension that keeps only unique items from a list while preserving order.
# 45.	Find all indices (positions) where a given number appears in a list.
# 46.	Generate all palindromic numbers (as strings) between 1 and 999.
# 47.	Convert a dictionary like {'a':[1,2], 'b':[3]} into a list of (key, value) pairs.
# 48.	Create a list of prime pairs (p, q) where both are primes under 100 and p + q is also prime.
# 49.	Create a lower-triangular matrix (n×n) with 1s below and on the diagonal, 0s above.
# 50.	Generate all possible sequences of length 4 from 'abcd' with no repeated letters.

In [111]:
# 43.	Flatten a 3-level nested list [[[1,2],[3]],[[4]]] into a single flat list.
list1 = [[[1, 2],[3]],[[4]]]
flattened = [item for sublist1 in list1 for sublist2 in sublist1 for item in sublist2]
print(flattened)

[1, 2, 3, 4]

In [113]:
# 44.	Write a comprehension that keeps only unique items from a list while preserving order.
items = [1, 2, 2, 3, 1, 4, 3, 5]
unique_items = []
[unique_items.append(x) for x in items if x not in unique_items]
print(unique_items)

[1, 2, 3, 4, 5]

In [115]:
# 45.	Find all indices (positions) where a given number appears in a list.
l1=[1,2,3,1,2,3,3,2,1]
l2=[i for i,x in enumerate(l1) if x==3]
print(l2)

[2, 5, 6]

In [117]:
# 46.	Generate all palindromic numbers (as strings) between 1 and 999.
pal=[x for x in range(1,1000) if str(x)==str(x)[::-1]]
print(pal)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 808, 818, 828, 838, 848, 858, 868, 878, 888, 898, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999]

In [119]:
# 47.	Convert a dictionary like {'a':[1,2], 'b':[3]} into a list of (key, value) pairs.
dict={'a':[1,2], 'b':[3]}
list1=[(key,value) for key,value in dict.items()]
print(list1)

[('a', [1, 2]), ('b', [3])]

In [121]:
# 48.	Create a list of prime pairs (p, q) where both are primes under 100 and p + q is also prime.
list1=[x for x in range(2,100)]
list2=[x for x in range(2,100) if all(x%i!=0 for i in range(2,x))]
list3=[(p,q) for p in list1 for q in list2 if p+q in list2]
print(list3)

[(2, 3), (2, 5), (2, 11), (2, 17), (2, 29), (2, 41), (2, 59), (2, 71), (3, 2), (4, 3), (4, 7), (4, 13), (4, 19), (4, 37), (4, 43), (4, 67), (4, 79), (5, 2), (6, 5), (6, 7), (6, 11), (6, 13), (6, 17), (6, 23), (6, 31), (6, 37), (6, 41), (6, 47), (6, 53), (6, 61), (6, 67), (6, 73), (6, 83), (8, 3), (8, 5), (8, 11), (8, 23), (8, 29), (8, 53), (8, 59), (8, 71), (8, 89), (9, 2), (10, 3), (10, 7), (10, 13), (10, 19), (10, 31), (10, 37), (10, 43), (10, 61), (10, 73), (10, 79), (11, 2), (12, 5), (12, 7), (12, 11), (12, 17), (12, 19), (12, 29), (12, 31), (12, 41), (12, 47), (12, 59), (12, 61), (12, 67), (12, 71), (14, 3), (14, 5), (14, 17), (14, 23), (14, 29), (14, 47), (14, 53), (14, 59), (14, 83), (15, 2), (16, 3), (16, 7), (16, 13), (16, 31), (16, 37), (16, 43), (16, 67), (16, 73), (17, 2), (18, 5), (18, 11), (18, 13), (18, 19), (18, 23), (18, 29), (18, 41), (18, 43), (18, 53), (18, 61), (18, 71), (18, 79), (20, 3), (20, 11), (20, 17), (20, 23), (20, 41), (20, 47), (20, 53), (20, 59), (21, 2), (22, 7), (22, 19), (22, 31), (22, 37), (22, 61), (22, 67), (24, 5), (24, 7), (24, 13), (24, 17), (24, 19), (24, 23), (24, 29), (24, 37), (24, 43), (24, 47), (24, 59), (24, 73), (26, 3), (26, 5), (26, 11), (26, 17), (26, 41), (26, 47), (26, 53), (26, 71), (27, 2), (28, 3), (28, 13), (28, 19), (28, 31), (28, 43), (28, 61), (29, 2), (30, 7), (30, 11), (30, 13), (30, 17), (30, 23), (30, 29), (30, 31), (30, 37), (30, 41), (30, 43), (30, 53), (30, 59), (30, 67), (32, 5), (32, 11), (32, 29), (32, 41), (32, 47), (34, 3), (34, 7), (34, 13), (34, 19), (34, 37), (35, 2), (36, 5), (36, 7), (36, 11), (36, 17), (36, 23), (36, 31), (36, 37), (36, 43), (36, 47), (36, 53), (36, 61), (38, 3), (38, 5), (38, 23), (38, 29), (38, 41), (38, 59), (39, 2), (40, 3), (40, 7), (40, 13), (40, 19), (40, 31), (40, 43), (41, 2), (42, 5), (42, 11), (42, 17), (42, 19), (42, 29), (42, 31), (42, 37), (42, 41), (42, 47), (44, 3), (44, 17), (44, 23), (44, 29), (44, 53), (45, 2), (46, 7), (46, 13), (46, 37), (46, 43), (48, 5), (48, 11), (48, 13), (48, 19), (48, 23), (48, 31), (48, 41), (50, 3), (50, 11), (50, 17), (50, 23), (50, 29), (50, 47), (51, 2), (52, 7), (52, 19), (52, 31), (52, 37), (54, 5), (54, 7), (54, 13), (54, 17), (54, 19), (54, 29), (54, 43), (56, 3), (56, 5), (56, 11), (56, 17), (56, 23), (56, 41), (57, 2), (58, 3), (58, 13), (58, 31), (59, 2), (60, 7), (60, 11), (60, 13), (60, 19), (60, 23), (60, 29), (60, 37), (62, 5), (62, 11), (62, 17), (64, 3), (64, 7), (64, 19), (65, 2), (66, 5), (66, 7), (66, 13), (66, 17), (66, 23), (66, 31), (68, 3), (68, 5), (68, 11), (68, 29), (69, 2), (70, 3), (70, 13), (70, 19), (71, 2), (72, 7), (72, 11), (72, 17), (74, 5), (74, 23), (76, 3), (76, 7), (76, 13), (77, 2), (78, 5), (78, 11), (78, 19), (80, 3), (80, 17), (81, 2), (82, 7), (84, 5), (84, 13), (86, 3), (86, 11), (87, 2), (90, 7), (92, 5), (94, 3), (95, 2)]

In [123]:
# 49.	Create a lower-triangular matrix (n×n) with 1s below and on the diagonal, 0s above.
n = 4
lower_triangular = [[1 if j <= i else 0 for j in range(n)] for i in range(n)]
for row in lower_triangular:
    print(row)

[1, 0, 0, 0]
[1, 1, 0, 0]
[1, 1, 1, 0]
[1, 1, 1, 1]

In [125]:
# 50.	Generate all possible sequences of length 4 from 'abcd' with no repeated letters.
from itertools import permutations
chars = 'abcd'
sequences = [''.join(p) for p in permutations(chars, 4)]
print(sequences)

['abcd', 'abdc', 'acbd', 'acdb', 'adbc', 'adcb', 'bacd', 'badc', 'bcad', 'bcda', 'bdac', 'bdca', 'cabd', 'cadb', 'cbad', 'cbda', 'cdab', 'cdba', 'dabc', 'dacb', 'dbac', 'dbca', 'dcab', 'dcba']